<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="kenlimmj.com">

  <link rel="dns-prefetch" href="//brick.a.ssl.fastly.net">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Muli:400,400i,700/Inconsolata:500">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ovo">
</head>

<template name="menu">
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
    <br/>
    <li><input type="submit" form="postEditForm" value="Publish"/></li>
    <li>Save</li>
    <br/>
    <li><input type="reset" form="postEditForm" value="Cancel"/></li>
  </nav>
</template>

<template name="loadingTemplate">
Loading...
</template>