<template name="GlobalMenu">
  <li><a href="/">Home</a></li>
  <li><a href="/posts">Blog</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/contact">Contact</a></li>
</template>

<template name="HomeMenu">
  <nav>
    {{> GlobalMenu}}
  </nav>
</template>

<template name="PostListMenu">
  <nav>
    {{> GlobalMenu}}
    {{#if isInRole 'admin'}}
    <br/>
    <li><a href="/posts/new" class="createButton">Create</a></li>
    {{/if}}
  </nav>
</template>

<template name="PostDisplayMenu">
  <nav>
    {{> GlobalMenu}}
    <br/>
    <li><a href="/posts" class="backButton">Back</a></li>
    {{#if isInRole 'admin'}}
    <li><a href="{{pathFor route='post.edit'}}" class="editButton">Edit</a></li>
    {{/if}}
  </nav>
</template>

<template name="PostEditMenu">
  <nav>
    {{> GlobalMenu}}
    {{#if isInRole 'admin'}}
    <br/>
    <li><input type="submit" id="postSubmit" form="postEditForm" value="Publish"/></li>
    <li><input type="reset" id="postCancel" form="postEditForm" value="Cancel"/></li>
    <br/>
    <li><button id="postDelete" class="deleteButton">Delete</button></li>
    {{/if}}
  </nav>
</template>